<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' >
    <title>Document</title>
</head>
<body>
    <header >
        <nav class=".navbar jumbotron jumbotron-fluid bg-dark justify-content-center" style="height: 230px">
            <div class="ml-3">
              <a class='text-decoration-none' href="/">
              <img src="https://www.clipartqueen.com/image-files/halloween-clip-art-black-cat-silhouette.png" width="85" height="85" class="d-inline align-top" alt="">
              </a>
              <h1 class=" d-inline">
              <a href="/" class="font-weight-lighter text-muted text-decoration-none">Swindle Shop</a>
              </h1>
            </div>
            <div>
                
            </div>
        </nav>
    </header>

    <main class="container">
        <div class="row d-flex justify-content-around">
            <div class="bg-success col-5 shadow p-3  bg-dark rounded">
                <h2 class="mb-5 font-weight-light text-muted">Log In</h2>
                <form>
                    <div class="form-group ">
                      <input type="email" class="form-control btn-outline-success my-2 my-sm-0 bg-dark" id="inputEmail" placeholder="Email or Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control btn-outline-success my-2 my-sm-0 bg-dark" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group form-check mb-5">
                      <input type="checkbox" class="form-check-input " id="rememberMe">
                      <label class="form-check-label text-muted" for="rememberMe">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mr-5">Log In</button>
                </form>
            </div>
            <div class="bg-danger col-5 shadow p-3 mb-5 bg-dark rounded">
                <h2 class="mb-5 font-weight-light text-muted">Sign Up</h2>
                <form>
                    <div class="form-group ">
                      <input type="email" class="form-control btn-outline-success my-2 my-sm-0 bg-dark" id="inputEmail" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <input type="username" class="form-control btn-outline-success my-2 my-sm-0 bg-dark" id="inputUsername" placeholder="Enter Username">
                      </div>
                    <div class="form-group mb-5">
                      <input type="password" class="form-control btn-outline-success my-2 my-sm-0 bg-dark" id="inputPassword" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mr-5">Sign Up</button>
                </form>
            </div>
        </div> 
    </main>

    <footer>

    </footer>

    {{#if loggedIn}}
    <script src="../../public/javascript/logout.js"></script>
    {{/if}}
</body>
</html> 