<header>
  <section class="jumbotron jumbotron-fluid bg-dark" style="height: 230px;">


    <div class="ml-4 mt-3 mr-3 logo justify-content-between">
      <section>
        <img class="d-inline" src="/images/Swindle-Shop-logo.png"
          alt="black cat logo" width="85" height="85">
        <h1 class="font-weight-light text-muted d-inline ">Swindle Shop</h1>
      </section>

      <nav class=".navbar " role="navigation" aria-label="main navigation">

        {{#unless loggedIn}}
        <button id='loginbtn' class="nav-item btn btn-outline-success my-2 my-sm-0 mr-5">Login</button>

        <script src="/javascript/loginbtn.js"></script>
        {{/unless}}

        {{#if loggedIn}}
        <button id="itemCreate" class="nav-item btn btn-outline-success my-2 my-sm-0 mr-5">Post</button>
        <button id="logout" class="nav-item btn btn-outline-success my-2 my-sm-0 mr-5">Logout</button>
        {{/if}}
      </nav>
    </div>


    <div id='searchbar' class="d-flex justify-content-center">
      <input class="search btn btn-outline-success my-2 my-sm-0" type="search" placeholder="Find your loot">
      <div class="autocom-box">

      </div>
      <a href="" target="_blank" hidden></a>
    </div>

  </section>
</header>
<main class="d-flex align-items-center justify-content-center">
  <section class=" d-flex flex-wrap row align-items-start justify-content-start text-secondary p-2 border-suce">
    {{#each posts}}

    <div id='item-card' class='card col-2.5 m-3 bg-dark flex-md-grow-1' style='width: 18rem;'>
      <div class='card-body'>
        <h5 class='card-title font-weight-normal' id='item-name'> {{name}}</h5>
        <img id='img-preview' class='card-img-top' src={{secure_url}} alt='Card image cap'>
      </div>
      <ul class='list-group list-group-flush p-2'>
        <li class='list-group-item bg-dark' id='item-price'>${{price}}</li>
        <li class='list-group-item bg-dark' id='item-description'>{{description}}</li>
      </ul>
    </div>

    {{/each}}
  </section>
</main>

<script src="/javascript/search.js"></script>
<script src="/javascript/postbtn.js"></script>