.logo {
    display: flex;
    position: relative;
    bottom: 6vh;
}

.search {
    position: relative;
    bottom: 5vh;
    width: 95%;
}

#item-card {
    max-height: 310px;
    max-width: 310px;
    min-height: 210px;
    min-width: 210px;
}